<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
           version="3.0">



    <listener>
        <listener-class>com.hjh.cn.listener.MyServletContextAttributeListener</listener-class>
    </listener>

    <listener>
        <listener-class>com.hjh.cn.listener.MyHttpSessionListener</listener-class>
    </listener>

    <listener>
        <listener-class>com.hjh.cn.listener.MyHttpSessionAttributeListener</listener-class>
    </listener>

    <listener>
        <listener-class>com.hjh.cn.listener.MyServletRequestListener</listener-class>
    </listener>
    <listener>
        <listener-class>com.hjh.cn.listener.MyServletRequestAttributeListener</listener-class>
    </listener>

    <listener>
        <listener-class>com.hjh.cn.listener.MyServletContextListener</listener-class>
    </listener>


    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>test.TestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/TestServlet</url-pattern>
    </servlet-mapping>
</web-app>
